In [2]:
import pandas as pd
import os

In [3]:
list_dir = os.listdir('./')
list_dir_en_source = [x for x in list_dir if 'EN-' in x]
list_dir_en_target = [x for x in list_dir if '-EN' in x]

In [6]:
df_en= pd.DataFrame(columns=['source', 'POS'])
for path_source in list_dir_en_source:
  path_source = path_source 
  df = pd.read_csv(path_source, delimiter=',', error_bad_lines=False)
  df_form_source = df[['source', 'POS']]
  df_en = pd.concat([df_en, df_form_source], ignore_index=True)

In [7]:
for path_source in list_dir_en_target:
  path_source =  path_source 
  df = pd.read_csv(path_source, delimiter=',', error_bad_lines=False)
  df_form_source = df[['target', 'POS']]
  df_form_source.columns = ['source', 'POS']
  df_en = pd.concat([df_en, df_form_source], ignore_index=True)

In [8]:
df_en = df_en.drop_duplicates(ignore_index=True)
df_en.tail(5)

              source         POS
93461  multiplied by      adverb
93462        Cornish   adjective
93463      Chantelle  properNoun
93464  raise jointly        verb
93465        Alannah  properNoun

In [9]:
max_rows = 4500
dataframes = []
while len(df_en) > max_rows:
    top = df_en[:max_rows]
    dataframes.append(top)
    df_en = df_en[max_rows:]
else:
    dataframes.append(df_en)

In [15]:
for _, frame in enumerate(dataframes):
    path = './EN_word/'
    frame.to_csv(path+str(_)+'.csv', index=False)

In [16]:
len(dataframes[20])

3466