In [1]:
# import library here
%config Completer.use_jedi = False
import pandas as pd

In [40]:
df = pd.read_csv('../TransSets_ApertiumRDFv2_1_CSV/TransSetEN-ES.csv', error_bad_lines=False)

b'Skipping line 73: expected 9 fields, saw 10\nSkipping line 1462: expected 9 fields, saw 10\nSkipping line 2731: expected 9 fields, saw 11\nSkipping line 3079: expected 9 fields, saw 10\nSkipping line 3255: expected 9 fields, saw 11\nSkipping line 5033: expected 9 fields, saw 10\nSkipping line 6385: expected 9 fields, saw 11\nSkipping line 6852: expected 9 fields, saw 10\nSkipping line 6900: expected 9 fields, saw 10\nSkipping line 7654: expected 9 fields, saw 11\nSkipping line 8802: expected 9 fields, saw 10\nSkipping line 9345: expected 9 fields, saw 10\nSkipping line 9833: expected 9 fields, saw 10\nSkipping line 12152: expected 9 fields, saw 11\nSkipping line 14161: expected 9 fields, saw 11\nSkipping line 14884: expected 9 fields, saw 10\nSkipping line 17962: expected 9 fields, saw 10\nSkipping line 19744: expected 9 fields, saw 11\nSkipping line 25459: expected 9 fields, saw 11\nSkipping line 25822: expected 9 fields, saw 10\nSkipping line 25982: expected 9 fields, saw 11\nSkipping line 26454: expected 9 fields, saw 10\nSkipping line 26956: expected 9 fields, saw 11\n'

In [41]:
a = df.columns
df_clone = df.copy()

In [42]:
for k in a:
    df_clone[k] = df_clone[k].apply(lambda x : str(x)[0:20])
df_clone.head()

,"""written_rep_a""","""lex_entry_a""","""sense_a""","""trans""","""sense_b""","""lex_entry_b""","""written_rep_b""","""POS""",Unnamed: 8
0,"""waiting for""","""http://linguistic.","""http://linguistic.","""http://linguistic.","""http://linguistic.","""http://linguistic.","""esperando a""","""http://www.lexinfo",nan
1,"""split""","""http://linguistic.","""http://linguistic.","""http://linguistic.","""http://linguistic.","""http://linguistic.","""partir""","""http://www.lexinfo",nan
2,"""Donostia-San Sebas","""http://linguistic.","""http://linguistic.","""http://linguistic.","""http://linguistic.","""http://linguistic.","""Donostia-San Sebas","""http://www.lexinfo",nan
3,"""little""","""http://linguistic.","""http://linguistic.","""http://linguistic.","""http://linguistic.","""http://linguistic.","""poco""","""http://www.lexinfo",nan
4,"""send back""","""http://linguistic.","""http://linguistic.","""http://linguistic.","""http://linguistic.","""http://linguistic.","""devolver""","""http://www.lexinfo",nan

In [5]:
df[' "written_rep_a" '].value_counts().head(5)

 "that"      23
 "this"      21
 "which"     21
 "some"      21
 "what"      20
Name:  "written_rep_a" , dtype: int64

In [22]:
df.columns

Index([' "written_rep_a" ', ' "lex_entry_a" ', ' "sense_a" ', ' "trans" ',
       ' "sense_b" ', ' "lex_entry_b" ', ' "written_rep_b" ', ' "POS" ',
       'Unnamed: 8', 'source', 'target', 'POS'],
      dtype='object')

In [23]:
df.loc[df[' "written_rep_a" '] == ' "know" '][[' "written_rep_a" ', ' "written_rep_b" ']]

       "written_rep_a"   "written_rep_b"
9796            "know"           "saber"
26575           "know"         "conocer"

In [14]:
df['source'] = df[' "written_rep_a" '].apply(lambda x: x.replace('"',''))
df['source'] = df['source'].apply(lambda x: x.strip())
df['target'] = df[' "written_rep_b" '].apply(lambda x: x.replace('"',''))
df['target'] = df['target'].apply(lambda x: x.strip())
df['POS'] = df[' "POS" '].apply(lambda x: x.split('#')[1].split('"')[0])
my_df = df[['source', 'target', 'POS']].copy()

In [15]:
my_df.head(5)

                   source                  target          POS
0             waiting for             esperando a  preposition
1                   split                  partir         verb
2  Donostia-San Sebastián  Donostia-San Sebastián   properNoun
3                  little                    poco       adverb
4               send back                devolver         verb

In [16]:
print(my_df.size)
print(my_df.source.nunique())
my_df['source'].value_counts().head(5)

86748
23427

that     23
some     21
which    21
this     21
what     20
Name: source, dtype: int64

In [24]:
my_df.loc[my_df['source'] == 'my']

      source target                POS
17355     my    mío          adjective
17356     my    mío            pronoun
17357     my    mío  possessivePronoun
17358     my    mío         determiner
17359     my    mío  possessivePronoun
17360     my    mío         determiner
17361     my    mío          adjective
17362     my    mío            pronoun
17363     my    mío  possessivePronoun
17364     my    mío         determiner
17365     my    mío  possessivePronoun
17366     my    mío         determiner

In [1]:
import os
files = os.listdir('./TransSets_ApertiumRDFv2_1_CSV')

In [8]:
files[1]

'TransSetBR-FR.csv'

In [6]:
for file in files:
    if file == 'README.txt':
        continue
    print(file)
    df = pd.read_csv('./TransSets_ApertiumRDFv2_1_CSV/'+file, error_bad_lines=False)
    df['source'] = df[' "written_rep_a" '].apply(lambda x: x.replace('"',''))
    df['source'] = df['source'].apply(lambda x: x.strip())
    df['target'] = df[' "written_rep_b" '].apply(lambda x: x.replace('"',''))
    df['target'] = df['target'].apply(lambda x: x.strip())
    df['POS'] = df[' "POS" '].apply(lambda x: x.split('#')[1].split('"')[0])
    my_df = df[['source', 'target', 'POS']].copy()
    file_name = file.split('.')[0] + '_small.csv'
    my_df.to_csv('./Small/'+file_name, index=False)

TransSetAF-NL.csv
TransSetBR-FR.csv
TransSetEN-ES.csv

b'Skipping line 73: expected 9 fields, saw 10\nSkipping line 1462: expected 9 fields, saw 10\nSkipping line 2731: expected 9 fields, saw 11\nSkipping line 3079: expected 9 fields, saw 10\nSkipping line 3255: expected 9 fields, saw 11\nSkipping line 5033: expected 9 fields, saw 10\nSkipping line 6385: expected 9 fields, saw 11\nSkipping line 6852: expected 9 fields, saw 10\nSkipping line 6900: expected 9 fields, saw 10\nSkipping line 7654: expected 9 fields, saw 11\nSkipping line 8802: expected 9 fields, saw 10\nSkipping line 9345: expected 9 fields, saw 10\nSkipping line 9833: expected 9 fields, saw 10\nSkipping line 12152: expected 9 fields, saw 11\nSkipping line 14161: expected 9 fields, saw 11\nSkipping line 14884: expected 9 fields, saw 10\nSkipping line 17962: expected 9 fields, saw 10\nSkipping line 19744: expected 9 fields, saw 11\nSkipping line 25459: expected 9 fields, saw 11\nSkipping line 25822: expected 9 fields, saw 10\nSkipping line 25982: expected 9 fields, saw 11\nSkipping line 26454: expected 9 fields, saw 10\nSkipping line 26956: expected 9 fields, saw 11\n'

TransSetEN-GL.csv

b'Skipping line 2410: expected 9 fields, saw 10\nSkipping line 2817: expected 9 fields, saw 11\nSkipping line 3935: expected 9 fields, saw 10\nSkipping line 5688: expected 9 fields, saw 10\nSkipping line 7232: expected 9 fields, saw 11\nSkipping line 8164: expected 9 fields, saw 11\nSkipping line 11551: expected 9 fields, saw 10\nSkipping line 11913: expected 9 fields, saw 10\nSkipping line 13131: expected 9 fields, saw 10\nSkipping line 14680: expected 9 fields, saw 10\nSkipping line 15894: expected 9 fields, saw 11\nSkipping line 18518: expected 9 fields, saw 11\n'

TransSetMK-EN.csv
TransSetEN-KK.csv
TransSetPT-GL.csv
TransSetCA-IT.csv

b'Skipping line 825: expected 9 fields, saw 11\n'

TransSetSH-SL.csv
TransSetDA-NO.csv
TransSetFR-ES.csv

b'Skipping line 9321: expected 9 fields, saw 10\nSkipping line 19631: expected 9 fields, saw 10\n'

TransSetNN-NB.csv

b'Skipping line 4328: expected 9 fields, saw 11\nSkipping line 26199: expected 9 fields, saw 11\nSkipping line 38804: expected 9 fields, saw 10\nSkipping line 41728: expected 9 fields, saw 11\nSkipping line 50925: expected 9 fields, saw 11\nSkipping line 54039: expected 9 fields, saw 11\n'
b'Skipping line 66324: expected 9 fields, saw 11\nSkipping line 78629: expected 9 fields, saw 11\nSkipping line 89932: expected 9 fields, saw 11\n'

TransSetOC-FR.csv
TransSetPT-CA.csv
TransSetFR-CA.csv

b'Skipping line 16387: expected 9 fields, saw 10\n'

TransSetID-ZLM.csv
TransSetSV-DA.csv
TransSetPL-SZL.csv
TransSetEO-EN.csv
TransSetEU-EN.csv
TransSetSH-MK.csv
TransSetEO-FR.csv
TransSetEN-CA.csv

b'Skipping line 770: expected 9 fields, saw 10\nSkipping line 11667: expected 9 fields, saw 10\nSkipping line 23239: expected 9 fields, saw 11\nSkipping line 23805: expected 9 fields, saw 10\nSkipping line 42050: expected 9 fields, saw 10\nSkipping line 47356: expected 9 fields, saw 10\nSkipping line 50893: expected 9 fields, saw 10\n'

TransSetKK-RU.csv
TransSetRO-CA.csv

b'Skipping line 5020: expected 9 fields, saw 10\n'

TransSetEO-ES.csv

b'Skipping line 15022: expected 9 fields, saw 10\nSkipping line 26944: expected 9 fields, saw 11\nSkipping line 32831: expected 9 fields, saw 11\nSkipping line 39843: expected 9 fields, saw 11\nSkipping line 45521: expected 9 fields, saw 11\n'

TransSetES-CA.csv

b'Skipping line 5337: expected 9 fields, saw 10\nSkipping line 10365: expected 9 fields, saw 11\nSkipping line 18930: expected 9 fields, saw 10\nSkipping line 38690: expected 9 fields, saw 11\nSkipping line 42869: expected 9 fields, saw 11\n'

TransSetMT-AR.csv
TransSetRU-UK.csv

b'Skipping line 7851: expected 9 fields, saw 11\nSkipping line 10169: expected 9 fields, saw 11\n'

TransSetCRH-TR.csv
TransSetOC-CA.csv
TransSetBE-RU.csv

b'Skipping line 14347: expected 9 fields, saw 11\n'

TransSetES-AN.csv
TransSetMK-BG.csv
TransSetAN-CA.csv
TransSetEU-ES.csv

b'Skipping line 3347: expected 9 fields, saw 10\nSkipping line 4738: expected 9 fields, saw 10\nSkipping line 4888: expected 9 fields, saw 10\nSkipping line 5200: expected 9 fields, saw 10\nSkipping line 7718: expected 9 fields, saw 10\nSkipping line 8518: expected 9 fields, saw 10\nSkipping line 8564: expected 9 fields, saw 10\nSkipping line 8821: expected 9 fields, saw 10\n'

TransSetOC-ES.csv
TransSetIS-SV.csv
TransSetSH-EN.csv

b'Skipping line 787: expected 9 fields, saw 10\n'

TransSetES-PT.csv
TransSetCY-EN.csv
TransSetCA-SC.csv
TransSetSE-NB.csv

b'Skipping line 10752: expected 9 fields, saw 10\nSkipping line 19728: expected 9 fields, saw 11\nSkipping line 20513: expected 9 fields, saw 11\nSkipping line 29516: expected 9 fields, saw 11\nSkipping line 34405: expected 9 fields, saw 11\nSkipping line 46768: expected 9 fields, saw 11\nSkipping line 52857: expected 9 fields, saw 11\nSkipping line 63143: expected 9 fields, saw 11\nSkipping line 65127: expected 9 fields, saw 11\n'
b'Skipping line 76032: expected 9 fields, saw 11\nSkipping line 79175: expected 9 fields, saw 11\nSkipping line 79541: expected 9 fields, saw 11\nSkipping line 80072: expected 9 fields, saw 13\n'

TransSetIS-EN.csv

b'Skipping line 3046: expected 9 fields, saw 10\nSkipping line 6210: expected 9 fields, saw 10\nSkipping line 7142: expected 9 fields, saw 10\nSkipping line 12529: expected 9 fields, saw 10\nSkipping line 13458: expected 9 fields, saw 10\nSkipping line 14395: expected 9 fields, saw 10\nSkipping line 16111: expected 9 fields, saw 10\n'

TransSetES-IT.csv
TransSetKK-TT.csv
TransSetEO-CA.csv

b'Skipping line 69: expected 9 fields, saw 11\nSkipping line 3717: expected 9 fields, saw 11\nSkipping line 39322: expected 9 fields, saw 11\n'

TransSetES-GL.csv
TransSetSC-IT.csv
TransSetES-RO.csv

b'Skipping line 16936: expected 9 fields, saw 10\n'

TransSetES-AST.csv

b'Skipping line 323: expected 9 fields, saw 10\nSkipping line 6881: expected 9 fields, saw 11\nSkipping line 10643: expected 9 fields, saw 10\nSkipping line 11614: expected 9 fields, saw 11\nSkipping line 13264: expected 9 fields, saw 10\nSkipping line 17411: expected 9 fields, saw 10\nSkipping line 18552: expected 9 fields, saw 10\nSkipping line 18729: expected 9 fields, saw 11\nSkipping line 21278: expected 9 fields, saw 11\nSkipping line 25435: expected 9 fields, saw 11\nSkipping line 27733: expected 9 fields, saw 10\nSkipping line 30832: expected 9 fields, saw 11\nSkipping line 33292: expected 9 fields, saw 11\nSkipping line 33495: expected 9 fields, saw 10\nSkipping line 36768: expected 9 fields, saw 10\n'