In [1]:
import pandas as pd
import os

In [25]:
sub_path = '../Small/EN_FR_ggtrans/'
list_dict = [x for x in os.listdir(sub_path) if x.endswith('.txt')]
list_dict

['dict11.txt',
 'dict10.txt',
 'dict12.txt',
 'dict13.txt',
 'dict17.txt',
 'dict16.txt',
 'dict14.txt',
 'dict15.txt',
 'dict2.txt',
 'dict3.txt',
 'dict1.txt',
 'dict0.txt',
 'dict4.txt',
 'dict5.txt',
 'dict7.txt',
 'dict6.txt',
 'dict8.txt',
 'dict9.txt',
 'dict18.txt',
 'dict19.txt',
 'dict20.txt']

In [67]:
df = pd.read_csv(sub_path+list_dict[0], delimiter='\t', names=['source', 'target', 'POS'])
df

          source         target         POS
0      mercerise       mercerie  properNoun
1       Amargant       Amargant  properNoun
2         Rambla         Rambla  properNoun
3     familiarly  familièrement      adverb
4     familiarly  familièrement        None
...          ...            ...         ...
7884    Gaouette       Gaouette  properNoun
7885      Carson         Carson  properNoun
7886  kineplasty    kineplastie  properNoun
7887      Rúbies       le rubis        noun
7888      Rúbies         Rúbies        None

[7889 rows x 3 columns]

In [68]:
for x in range(1, len(list_dict)):
    try:
        df_temp = pd.read_csv(sub_path+list_dict[x], delimiter='\t', names=['source', 'target', 'POS'], error_bad_lines=False,quoting=3)
        df = df.append(df_temp)
    except:
        print(list_dict[x])

In [69]:
df = df.reset_index(drop=True)
df

               source                  target         POS
0           mercerise                mercerie  properNoun
1            Amargant                Amargant  properNoun
2              Rambla                  Rambla  properNoun
3          familiarly           familièrement      adverb
4          familiarly           familièrement        None
...               ...                     ...         ...
193043        Cornish           cornouaillais   adjective
193044        Cornish           cornouaillais        None
193045      Chantelle               Chantelle  properNoun
193046  raise jointly  soulever conjointement  properNoun
193047        Alannah                 Alannah  properNoun

[193048 rows x 3 columns]

In [70]:
df = df.drop_duplicates(ignore_index=True)

In [72]:
!pwd

/Users/batuan/Documents/Master1Luminy/semetre2/TER/code/src

In [74]:
df.to_csv('../EvaluationDictionary/gg_transdict.csv', sep='#',index=False)